* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  }
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(https://images.pexels.com/photos/5313546/pexels-photo-5313546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

#box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  background-color: rgba(245, 245, 220, 0.227);
  width: 600px;
  height: 200px;
  -webkit-box-shadow: 1px 18px 50px 3px rgba(0,0,0,0.51); 
  box-shadow: 1px 18px 50px 3px rgba(0,0,0,0.51);
}

#box1:hover {
  transition-duration: 500ms;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
  
h1 {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 600;
}

h1:hover {
  transition-duration: 750ms;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  font-weight: bolder;
  line-height: 25px;
  letter-spacing: 2px;
  width: 120px;
  padding-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
}

#box2 {
  margin: 20px 20px 20px 20px;
  text-align: justify;
  width: 560px;
  background-color: rgb(245, 245, 220);
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  width: 150px;
  height: 33px;
  background-color: black;
  color: #f5f5dc;
  font-weight: 900;
  border-style: none;
  font-size: 15px;
  -webkit-box-shadow: -1px 16px 50px -19px rgba(0,0,0,0.58); 
  box-shadow: -1px 16px 50px -19px rgba(0,0,0,0.58);
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  transition-duration: 500ms;
  -webkit-box-shadow: -1px 16px 50px -11px rgba(0,0,0,0.58); 
  box-shadow: -1px 16px 50px -11px rgba(0,0,0,0.58);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  cursor: pointer;
}

